.payconiq-container {
    display: flex;
    justify-content: center;
    margin: 3.706325903em 0;
}

.payconiq-container .qr_code {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 224px;
    height: 268px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payconiq-container .qr_code img {
    height: auto;
    max-width: 180px;
    display: block;
    width: 100%;
    padding-top: 45px;
}

.payconiq_mobile_button {
    background-color: #FF4785;
    padding: 15px 20px;
    margin:0 auto 60px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: #fff;
    text-decoration: none !important;
    max-width: 224px;
}

#payconiq_message {
    text-align: center;
}